@using VectorLangDocs.Shared.DocumentationModel

@inject NavigationManager NavigationManager

@page "/type/{TypeName}"

@{
    LanguageDocumentation.Types.TryGet(TypeName, out var typeDocumentation);
}

@NavigationManager.RenderHeader(1, TypeName, TypeName, copyButton: true)

<span id="summary">@typeDocumentation!.Summary</span>

@if (typeDocumentation.UsageExample is { } usageExample)
{
    <CodeBlock Code=@usageExample />
}

<div id="sections">
    @ItemSection("Fields", "fields", typeDocumentation.Fields.Items)
    @ItemSection("Methods", "methods", typeDocumentation.Methods.Items)
    @ItemSection("Unary operators", "unary-operators", typeDocumentation.UnaryOperators.Items)
    @ItemSection("Binary operators", "binary-operators", typeDocumentation.BinaryOperators.Items)
</div>

@code {
    [CascadingParameter]
    public VectorLangDocumentation LanguageDocumentation { get; set; } = null!;

    [Parameter]
    public string TypeName { get; set; } = null!;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (LanguageDocumentation.Types.TryGet(TypeName, out _) is false)
        {
            NavigationManager.NavigateTo("404", forceLoad: true);
        }
    }

    private RenderFragment ItemSection(string sectionTitle, string sectionAnchor, IEnumerable<DocumentationItem> items)
    {
        if (items.Any() is false)
        {
            return @<!---->;
        }

        return
    @<section>
        @NavigationManager.RenderSectionHeader(2, sectionAnchor, sectionTitle, copyButton: true)

        @foreach (var item in items)
        {
            <DocumentationItemView Item="item" />
        }
    </section>;
    }
}
