@using VectorLangDocs.Shared.DocumentationModel

@inject NavigationManager NavigationManager

@page "/type/{TypeName}"

@{
    LanguageDocumentation.Types.TryGet(TypeName, out var typeDocumentation);
}

@if (typeDocumentation is null)
{
    <h1>Type not found</h1>
}
else
{
    <h1 id="@TypeName" data-nav-anchor="@TypeName">
        @typeDocumentation.Name
        <CopyButton TextToCopy=@(NavigationManager.Uri) IconUrl="./svg/copy-link-icon.svg" ButtonTitle="Copy link" Position="CopyButton.PositionType.AfterInlineParent" />
    </h1>

    <span id="summary">@typeDocumentation.Summary</span>

    @if (typeDocumentation.UsageExample is { } usageExample)
    {
        <CodeBlock Code=@usageExample />
    }

    <div id="sections">
        @ItemSection("Fields", "fields", typeDocumentation.Fields.Items)
        @ItemSection("Methods", "methods", typeDocumentation.Methods.Items)
        @ItemSection("Unary operators", "unary-operators", typeDocumentation.UnaryOperators.Items)
        @ItemSection("Binary operators", "binary-operators", typeDocumentation.BinaryOperators.Items)
    </div>
}

@code {
    [CascadingParameter]
    public VectorLangDocumentation LanguageDocumentation { get; set; } = null!;

    [Parameter]
    public string TypeName { get; set; } = null!;

    private RenderFragment ItemSection(string sectionTitle, string sectionAnchor, IEnumerable<DocumentationItem> items)
    {
        if (items.Any() is false)
        {
            return @<!---->;
        }

        return
    @<section>
        @ItemSectionHeader(sectionAnchor, sectionTitle)

        @foreach (var item in items)
        {
            <DocumentationItemView Item="item" />
        }
    </section>;
    }

    private RenderFragment ItemSectionHeader(string sectionAnchor, string sectionTitle)
    {
        return NavigationManager.RenderSectionHeader(2, sectionAnchor, sectionTitle, sectionUri => @<span>
        @sectionTitle
        <CopyButton TextToCopy=@sectionUri IconUrl="./svg/copy-link-icon.svg" ButtonTitle="Copy link" Position="CopyButton.PositionType.AfterInlineParent" />
    </span>);
    }
}
